html{
    
}

body{
    background-image: url(https://cloud.githubusercontent.com/assets/8304878/4277930/61ca05a2-3d13-11e4-8734-c2016538ebe4.JPG);
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
/*body{*/
   
/*    margin: 0;*/
/*    background-color: white;*/
/*    background-repeat: no-repeat;*/
/*    background-position: relative;*/
/*    background-size: 1500px 1000px;*/
/*}*/
.thebanner{
    /*background-color:#D0B9FF;*/
    background-color:#AFAA7A;
    position: absolute;
    top: 0%;
    left: 10%;
    margin-top: -50px;
    margin-left: -50px;
    margin-right:-50px;
    width:250px;
    height: 1050px;
    border-color:#FFFFCC;/*:#EBEBFF;*/
    border-width:40px;
    border-syle:solid;
    overflow:hidden;
    
}

.thelists{
    direction:ltr;
    background-color: #AFAA7A;
    text-align: ltr;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: white
    margin-top: 5px;
    margin-left: 5px;
    margin-right:5px;
    
}
div.thetext{
    position:absolute;
    top: 2.5%;
    left: 25%;
    height: 1000 px;
    width:800 px;
    text-align: left;
    
    z-index:-1;
    margin:20px;
    background-color:white;
    border-style:solid;
    border-width:5px;
    border-color:#48321A;
    
}
    div.theparatext {
        /*font-family: 'Lekton', Helvetica, Arial, sans-serif;*/
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 25px;
        /*font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Sans-Serif;
        font-size: 30;*/
        color: #48321A;
        margin:10px;
    }
    
    .headertxt {
        text-align: left;
        color: #48321A;
        /*color:#a9a9a9;*/
        /*font-family: 'Molengo', Georgia, Times, serif;*/
        font-family: 'Bree Serif', Georgia, serif;
        font-size: 40px;
        line-height: 80px;
        margin:10px;
        /*font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Sans-Serif;
        font-size: 32;*/
    }
img{
    float:left;
    top:50%;
    left:40%;
    border:0px;
    margin:20px;
    
}


a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-size:32;
  margin:10px;
}

.internetlink a {
  color: brown;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-size:32;
  margin:10px;
    
}

ul, li {
  list-style: none;
  padding: 0 0 0 8px
}

 p {
        /*font-family: 'Lekton', Helvetica, Arial, sans-serif;*/
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 25px;
        /*font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Sans-Serif;
        font-size: 30;*/
        color: #48321A;
        margin:20px;
    }
h1 {
        text-align: left;
        color: #48321A;
        /*color:#a9a9a9;*/
        /*font-family: 'Molengo', Georgia, Times, serif;*/
        font-family: 'Bree Serif', Georgia, serif;
        font-size: 40px;
        line-height: 80px;
        margin:10px;
        text-shadow: 2px 2px #aaa;
    }
    
h2 {
        text-align: left;
        color: #48321A;
        /*font-family: 'Molengo', Georgia, Times, serif;*/
        font-family: 'Bree Serif', Georgia, serif;
        font-size: 20px;
        line-height: 25px;
        margin:10px;
    }
h4 {
        text-align: center;
        color: #48321A;
        /*color:#a9a9a9;*/
        /*font-family: 'Molengo', Georgia, Times, serif;*/
        font-family: 'Bree Serif', Georgia, serif;
        font-size: 60px;
        line-height: 80px;
        margin:10px;
        text-shadow: 2px 2px #aaa;
    }
.subheader{
    /*font-family: 'Lekton', Helvetica, Arial, sans-serif;*/
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 25px;
        color: #48321A;
        margin:10px;
        text-align: center;
        
}
.allResume {
    position: absolute;
    top: 25%;
    left: 15%;
    margin-top: -50px;
    margin-left: -50px;
    border-style:solid;
    border-width:5px;
    border-color#48321A;
    background-color:white;
    width:1100px;
    height: 4800px;
    
}
.outerResume{
    position: absolute;
    top: 5%;
    left: 15%;
    width:1100px;
    height: 30px;
    /*margin-top: -50px;*/
    margin-left: -50px;
    border-style:solid;
    border-width:5px;
    border-color#48321A;
}

.outerResume.thelists{
    direction:ltr;
    background-color: #AFAA7A;
    text-align: ltr;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 25px;
    color: white
    margin-top: 0px;
    margin-left: 0px;
    margin-right:0px;
    
}

.emailForm{
    margin-left:20px;
    
}
.thebutton{
    margin-left:20px;
}
