body,.firstheader,.headers-list,.para1{
    margin: 0px;
    border: 0px;
    padding: 0px;
}
body{
   /* background-color: #E6E6E6;*/
    margin: 0;
    background-color: #CCCCFF;
    background-repeat: no-repeat;
    background-position: relative;
    background-size: 1500px 1000px;
}
.H1 {
    text-align: center;
    color: black;
    /*color:#a9a9a9;*/
    font-family: 'Molengo', Georgia, Times, serif;
    font-size: 40px;
    line-height: 80px;
    /*font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Sans-Serif;
    font-size: 32;*/
}
.thelists{
    direction:ltr;
    background-color:white;
    text-align: center;
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    /*font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Sans-Serif;
    font-size: 24;*/
    color: rgb(150,150,255)
    
}
div.front-page p{
    text-align: center;
    font-family: 'Lekton', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    /*font-family:"Lucida Grande","Lucida Sans Unicode",Verdana,Sans-Serif;
    font-size: 30;*/
    color: black;
    z-index:-1;
    margin:20px;
}
.front-page{    
    position: absolute;
    top: 30%;
    left: 40%;
    margin-top: -50px;
    margin-left: -50px;
    
    width:420px;
    height: 370px;
    /*margin: 30px 50px;*/
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

a {
  color: #660066;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-size:30
}
ul, li {
  list-style: none;
  padding: 0 0 0 8px
}

